################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VectorOperations/v15
/VectorOperations/.vs/VectorOperations/v15
/VectorOperations/x64
/.vs
